
<nav aria-label="Page navigation example " >

    <ul class="pagination">

        <li class="page-item">

            {% if page.has_previous %}
            <a href="?page=1" class="w3-orange">&laquo; first</a>
            <a class="page-link w3-orange" href="?page={{page.previous_page_number}}">Previous</a>

            {% endif %}

        </li>

        <li class="page-item">

            <a class="page-link w3-orange">Page {{page.number}} of {{page.paginator.num_pages}}</a>

        </li>


    <li class="page-item">

            {% if page.has_next %}
            <a class="page-link w3-orange" href="?page={{page.next_page_number}}">Next</a>
            <a href="?page={{ page.paginator.num_pages }}" class="w3-orange">last &raquo;</a>

            {% endif %}

        </li>


    </ul>


</nav>
